extends layout

block content
  h1= title
  p Welcome to the mall pug
   div(class="container-fluid")               
            each v,index in results  
                 div(class="row")        
                    div(class="col-sm-2" onclick=`buy(${index})`) #{v.mall_type}
                    div(class="col-sm-2" onclick=`buy(${index})`) #{v.quantity}
                    div(class="col-sm-2" onclick=`buy(${index})`) #{v.price}
                    div(class="col-sm-2")
                        button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
                        button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
  script.                
        function buy(intemNo)
        {
              alert(`you purchased outlet ${intemNo + 1}`)
        }